faceenv/
__pycache__/
*.pyc
*.pkl
.env
*.log
./yolov8n.pt
./Yoloweights/best.pt
./Embeddings/embeddings.pkl
./faceAndPerson/yolov8n.pt
./Attendance/Attendance.csv
./Attendance/AttendanceStats.csv
./Frontend/yolov8n.pt
./Activity_Monitor/sleep_detection_model.joblib
./TestFiles/sleep_detection_model.joblib
./TestFiles/Yoloweights
./TestFiles/yolov8l.pt
./TestFiles/yolov8n.pt
./TestFiles/model.joblib
./mainFiles/sleep_detection_model.joblib
./TestFiles/features.csv